body {
    background-color: #ffffff;
    color: #434455;
    font-family: "Roboto", sans-serif;
  }

  /* General Container */
.container {
  width: 1158px;
  margin: 0 auto; /* Center the container */
  padding: 0 15px; /* Adds padding to adjust internal content spacing */
}

/* Header Styles */
.page-header {
  border-bottom: 1px solid #e7e9fc; /* Adds border to the bottom of the header */
}

/* Navigation Bar Styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligns navigation vertically */
}

/* Logo Styles */
.logoweb {
  font-size: 24px;
  font-weight: bold;
}

.header-logo {
  color: #000; /* Customize as per design */
  font-weight: normal;
}

/* Menu Styles */
.menu {
  display: flex;
  gap: 40px; /* Space between menu items */
}

.menu li {
  padding: 24px 0; /* Padding for menu items */
}

.link-nav {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

/* Address Styles */
.header-address {
  margin-top: 20px;
}

.contact-list {
  display: flex;
  gap: 40px; /* Space between contact items */
}

.address-link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

  
  .section-order {
    background-color: #2e2f42;
    padding: 188px 0;
  }
  
  .order-button {
    background-color: #4d5ae5;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    line-height: 24px;
    letter-spacing: 0.04em;
  }
  
  .section-heading {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  
  .order-button:hover,
  .order-button:focus {
    background-color: #404bbf;
  }
  
  .section-stratedy-title,
  .section-our-team-title,
  .section-our-portfolio-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
  }
  
  .list-el {
    background-color: #ffffff;
  }
  
  .list-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  
  .list-info {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .image-our-team {
    display: block;
  }
  
  .section-our-team {
    background-color: #f4f4fd;
    line-height: 1.11;
  }
  
  .section-our-team-title {
    text-align: center;
  }

  .image-section-four {
    display: block;
  }
  
  .page-footer {
    background-color: #2e2f42;
    color: #f4f4fd;
    padding: 100px 0;
    margin-bottom: 16px;
    display: inline-block
  }
  
  .footer-logo {
    color: #f4f4fd;
  }
  
  .footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
  }

  .footer-link {
    display: inline-block;
  }